{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true,
      "es6": true,
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "curly": ["off"],
    "react/prop-types": [2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"]
}
