{
  "parser": "@babel/eslint-parser",
  "env": {
      "browser": true,
      "node": true,
      "es6": true,
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."],
        "extensions": [".js", ".jsx", ".jsm", ".mjs", ".tsx", ".ts"]
      }
    }
  },
  "ignorePatterns": ["node_modules/**"],
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "curly": ["off"],
    "object-curly-newline": ["off"],
    "react/prop-types": [2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/extensions": [".js", ".mjs", ".jsx", ".ts", ".tsx"],
  },
  "extends": [
    "eslint:recommended", "plugin:react/recommended", "plugin:react/jsx-runtime", "airbnb"
  ]
}
