# Project dependencies
.cache
/node_modules/
yarn-error.log
/.yarn/
/.yarnrc.yml
.pnp.*

# Build directory
/.next
/next-env.d.ts
/storybook-static
build-storybook.log

/.vscode
.DS_Store
*~
*.swp

/.env*
/Attic/
/.envrc
/public/static/themes/
/.rgignore
/test-results/
/playwright-report/
/playwright/.cache/
/e2e-tests/*-snapshots/

# Sentry Config File
.sentryclirc
