.cache
**/.git
**/.svn
**/.hg
**/node_modules

yarn-error.log
/.yarn/
/.yarnrc.yml
.pnp.*

**/__generated__
/locales

# Build directory
/.next
/next-env.d.ts

/.vscode
.DS_Store
*~
*.swp

/.env
/Attic/
/.envrc
/public/static/themes/
/.rgignore