@import "~open-city-design/src/scss/helsinki/mixins";

.nav-org-logo  {
  @include helsinki-logo($hel-black);
  height: 2em;
  width: 5em;
}

.footer-org-logo  {
  @include helsinki-logo($hel-black);
  background-position: center;
}

.comments-section {
    &::before {
      content: " ";
      @include koro("beat", $white, 420);
      transform: rotate(180deg);
      width: 100%;
      height: $spacer * 4;
      position: absolute;
      top: -5px;
    }
}

.hero-banner-bottom {
  &::before {
    content: " ";
    @include koro("beat", $brand-light, 420);
    width: 100%;
    height: $spacer * 4;
    position: absolute;
    top: -5px;
  }
}

.actions-section {
  &::before {
    content: " ";
    @include koro("beat", $brand-dark, 420);
    width: 100%;
    height: $spacer * 5;
    position: absolute;
    top: $spacer * -5;
  }
}
