/**
 * _theme-variables.scss
 *
 * These are extended set of Bootstrap style variables. They are used
 * for building a themed Bootstrap base stylesheet for Reactstrap
 *
 * All these variables are also parsed as theme object for Styled
 * Components and they are referenced in most of the UI components.
 * This file has to be self-contained and can not refer to variables
 * from the other theme files.
 *
 */
 
 // Brand colors

 $name: 'liiku';

 $hel-copper:        #00d7a7;
 $hel-bus:           #0000bf;
 $hel-coat:          #0072c6;
 $hel-fog:           #9fc9eb;
 $hel-metro:         #fd4f00;
 $hel-brick:         #bd2719;
 $hel-suomenlinna:   #f5a3c7;
 $hel-engel:         #ffe977;
 $hel-tram:          #009246;
 $hel-summer:        #ffc61e;
 $hel-silver:        #dedfe1;
 $hel-gold:          #c2a251;
 
 // Brand monochromes
 $hel-black:         #000000; //--color-black
 $hel-dark:          #333333; //--color-black-80
 $hel-gray:          #666666; //--color-black-60
 $hel-light:         #e5e5e5; //--color-black-10
 $hel-white:         #ffffff; //--color-white
 
 // Helper colors
 $red:     #e05563;
 $yellow:  #eca10c;
 $green:   #3cd55f;
 $cyan:    #52a4ca;
 
 // Service specific brand color defaults
 // brand-light/brand-dark should have contrast ratio over 4.5
 // brand-light/theme.dark should have contrast ratio over 4.5
 // brand-dark/theme.light should have contrast ratio over 4.5
 $brand-light:  $hel-silver;
 $brand-dark:   $hel-brick; //modified hel-tram for a11y
 $neutral-light:  $hel-silver;
 $neutral-dark:   $hel-black; //modified hel-tram for a11y
 
 // Application color mappings:
 $theme-colors: (
   "primary":    $brand-dark,
   "secondary":  $brand-light,
   "success":    $green,
   "info":       $cyan,
   "warning":    $yellow,
   "danger":     $red,
   "light":      $hel-light,
   "dark":       $hel-dark,
   "black":      $hel-black,
   "white":      #ffffff,
 );
 
 $image-overlay: #696969;
 
 $font-url: '/static/fonts/hnh2035/fonts.css';
 $font-family: 'HelsinkiGrotesk';
 $font-family-sans-serif:      #{$font-family}, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
 $font-family-base:            $font-family-sans-serif;

 // Links
 //
 // Style anchor elements.
 
 $link-color: $brand-dark;
 $link-hover-color: darken($brand-dark, 7%);
 
 // Components
 //
 // Define common padding and border radius sizes and more.
 
 //$component-active-color:      $hel-white !default;
 $component-active-bg:         $brand-dark;
 
 $nav-pills-link-active-bg: $brand-dark;
 
 $list-group-active-bg:  $component-active-bg;
 $list-group-active-border-color:  $list-group-active-bg;
 
/////// BUTTONS

$input-btn-focus-color:       #0072c6;
$input-btn-padding-y:           1rem;
$input-btn-padding-x:           1rem;
$btn-border-radius:             0;
$btn-border-width:        2px;

/////// FORMS

$input-padding-y:            $input-btn-padding-y;
$input-padding-x:            $input-btn-padding-x;
$input-bg:                   #ffffff;
$input-border-width:         2px;
$input-line-height:          1.5;
$input-border-radius:        2px;
$custom-select-indicator:    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTExLjg5NiAzTDcgNy44NDIgMi4xMDQgMyAwIDUuMDggNyAxMmw3LTYuOTJMMTEuODk2IDN6IiBmaWxsPSIjMDAwIi8+PC9zdmc+") !default;

 /////// NAV

 $brand-nav-background:              $neutral-dark;
 
 $navbar-dark-color:                 rgba($hel-white, .5);
 $navbar-dark-hover-color:           rgba($hel-white, .75);
 $navbar-dark-active-color:          $hel-white;
 $navbar-dark-disabled-color:        rgba($hel-white, .25);
 
 $navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$hel-white}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
 $navbar-dark-toggler-border-color:  transparent;
 
 $navbar-light-color:                $hel-black;
 $navbar-light-hover-color:          rgba($hel-black, .7);
 $navbar-light-active-color:         rgba($hel-black, .9);
 $navbar-light-disabled-color:       rgba($hel-black, .3);
 
 $navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$hel-black}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
 
 $navbar-light-toggler-border-color: transparent;
 
/////// CARDS

$card-border-width:                   0;
$card-border-radius:                  0;

/////// BADGES

$badge-border-radius:             0;
$badge-padding-y:                 .5em;
$badge-padding-x:                 .75em;
$badge-font-weight:               400;

/////// TABLES

$table-head-bg:                   #f1f1f1;
$table-hover-bg:                  #f1f1f1;

 // Indicators
 $action-color: #00792D; //modified hel-tram for a11y
 $operational-indicator-color: #17ebba; // modified hel-copper for a11y
 $tactical-indicator-color: #b7dbf7; // modified hel-fog for a11y
 $strategic-indicator-color: #006EB2; // modified hel-coat for a11y
 
 $action-color-fg: $hel-white;
 $operational-indicator-color-fg: $hel-black;
 $tactical-indicator-color-fg: $hel-black;
 $strategic-indicator-color-fg: $hel-white;
 
 $causality-increases-color: darken($green, 10%);
 $causality-decreases-color: darken($red, 10%);
 $causality-is-part-of-color: grey;
 
 // Breakpoints
 $breakpoint-sm: 576px;
 $breakpoint-md: 768px;
 $breakpoint-lg: 992px;
 $breakpoint-xl: 1200px;

 $themeLogoColor: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 495 230'%3E%3Cstyle type='text/css'%3E .lc%7Bfill:%23ffffff;%7D%3C/style%3E%3Cpath class='lc' d='M479.8 14.9v131.5c0 25.1-20.7 45.6-46.2 45.6H292.9c-16.9 0-32.9 6.1-45.4 17.4C235 198.2 219 192 202.1 192h-141c-25.3 0-45.8-20.4-45.8-45.6V14.9H479.8zM255 221.9c10.1-10.1 23.6-15.7 38-15.7h140.6c33.3 0 60.4-26.8 60.4-59.8V0.6H1v145.7c0 33 26.9 59.8 60.1 59.8h141c14.3 0 27.8 5.6 38 15.7l7.5 7.5L255 221.9z'/%3E%3Cpath class='lc' d='M425.7 74.8c0 4.4-3.5 7.6-7.9 7.6s-7.9-3.2-7.9-7.6 3.5-7.6 7.9-7.6C422.2 67 425.7 70.2 425.7 74.8M410.9 136.9h13.7V88.2h-13.7V136.9zM386.3 107.5l17.9 29.4h-14.9l-12-19.5 -6.5 8.2v11.3h-13.6v-70h13.6v32.3c0 6-0.7 12-0.7 12h0.3c0 0 3.2-5.3 5.9-9.1l10.4-13.9h16L386.3 107.5zM343.4 105.7c0-12.1-5.9-18.7-15.3-18.7 -8 0-12.2 4.7-14.6 9.2h-0.3l0.7-8h-13.6v48.7h13.6V108c0-5.6 3.3-9.5 8.4-9.5s7.3 3.4 7.3 9.9v28.5h13.7L343.4 105.7 343.4 105.7zM287.2 74.8c0 4.4-3.5 7.6-7.9 7.6s-7.9-3.2-7.9-7.6 3.5-7.6 7.9-7.6C283.8 67 287.2 70.2 287.2 74.8M272.4 136.9h13.7V88.2h-13.7V136.9zM248.8 123.3c0-3.9-5.4-4.7-11.7-6.5 -7.3-1.9-16.5-5.6-16.5-14.9 0-9.2 8.8-15 19.2-15 9.7 0 18.6 4.6 22.3 11.1l-11.7 6.6c-1.2-4.3-4.8-7.7-10.2-7.7 -3.5 0-6.4 1.5-6.4 4.4 0 3.7 6.4 4.1 13.6 6.4 7.6 2.4 14.6 5.9 14.6 14.8 0 9.8-9.1 15.6-19.6 15.6 -11.4 0-20.4-4.8-24.4-12.6l11.9-6.7c1.5 5.3 5.8 9.3 12.3 9.3C246.1 128.1 248.8 126.5 248.8 123.3M205.5 67.3h-13.7v56.1c0 5 1.1 8.7 3.2 11 2.2 2.3 5.6 3.4 10.3 3.4 1.6 0 3.3-0.2 4.9-0.5 1.7-0.4 3-0.9 4.1-1.5l1.2-9.2c-1.1 0.4-2 0.7-2.9 0.8 -0.8 0.2-1.8 0.2-2.9 0.2 -1.8 0-2.6-0.5-3.2-1.4 -0.7-0.9-1-2.5-1-4.8V67.3zM159.9 96.8c-5 0-9.1 3.6-10.2 10.2h19.2C169 101.2 165.2 96.8 159.9 96.8M181 116.2h-31.5c0.6 7.9 5 11.8 10.7 11.8 5.1 0 8.6-3.4 9.4-8l11.5 6.5c-3.4 6.2-10.7 11.6-20.9 11.6 -13.6 0-23.6-9.5-23.6-25.5 0-15.9 10.2-25.5 23.3-25.5s21.8 9.3 21.8 22.5C181.6 113.5 181 116.2 181 116.2M111.3 136.9h14.2V69.9h-14.2v26.5H84.6V70H70.4v66.9h14.2v-27.7h26.7V136.9z'/%3E%3C/svg%3E";
 $themeLogoWhite: $themeLogoColor;
 $themeLogo: $themeLogoColor;

 //$icon-indicators: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 935.43 935.43'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' x='-3.4' width='935.43' height='935.43'/%3E%3Cpath d='M701.65,411.42a23.19,23.19,0,0,1,0-27.51l4-5.4a109.51,109.51,0,0,0,13.52-107.34,113.17,113.17,0,0,0-39.2-49.58,110.84,110.84,0,0,0-29.57-14.84A112,112,0,0,0,616,201.36a120.76,120.76,0,0,0-12.68.7l-6.66.72a20.37,20.37,0,0,1-2.56.14A23.27,23.27,0,0,1,572.74,189L570,182.91a110.51,110.51,0,0,0-43.1-49.79,113.66,113.66,0,0,0-118.35,0,110.29,110.29,0,0,0-43.11,49.79L362.72,189a23.27,23.27,0,0,1-21.37,13.88,20,20,0,0,1-2.54-.14l-6.65-.72a121.5,121.5,0,0,0-12.68-.7,110.39,110.39,0,0,0-44.84,9.42A112.62,112.62,0,0,0,208,313.09a109.65,109.65,0,0,0,21.82,65.42l3.95,5.4a23.19,23.19,0,0,1,0,27.51l-3.95,5.38a109.53,109.53,0,0,0-13.54,107.38,113.47,113.47,0,0,0,39.23,49.57A109.76,109.76,0,0,0,319.48,594a120.39,120.39,0,0,0,12.65-.67l6.68-.72,0,0a23.88,23.88,0,0,1,15.24,3.63,23.14,23.14,0,0,1,8.64,10.13l2.71,6.13a110.52,110.52,0,0,0,43.1,49.79,112,112,0,0,0,31,13V818.93H496V675.26a111.62,111.62,0,0,0,30.94-13A110.46,110.46,0,0,0,570,612.43l2.73-6.13a23.14,23.14,0,0,1,8.64-10.13,23.49,23.49,0,0,1,12.71-3.75,20.37,20.37,0,0,1,2.56.14l6.66.72A121.1,121.1,0,0,0,616,594a110,110,0,0,0,44.83-9.38A112.59,112.59,0,0,0,727.4,482.25a110,110,0,0,0-21.8-65.45ZM656.09,350.7a79.29,79.29,0,0,0,0,93.94L660,450c7.78,10.66,10.84,21.43,10.9,32.23A55,55,0,0,1,666.81,503a57,57,0,0,1-19.64,24.9,53.19,53.19,0,0,1-14.33,7.18A54.35,54.35,0,0,1,616,537.72a59.85,59.85,0,0,1-6.58-.36l-6.66-.72a81.65,81.65,0,0,0-8.66-.48,79.79,79.79,0,0,0-73,47.47l-2.73,6.1A54,54,0,0,1,497.2,614.4c-.41.25-.84.47-1.23.69V531.15L600.6,426.93l-39.89-39.76L496,451.64V381.2l67-66.75-39.93-39.76L467.72,329.8l-55.31-55.11-39.93,39.76,67,66.75v70.44l-64.73-64.47-39.9,39.76h0L439.49,531.15v83.94c-.39-.22-.83-.44-1.23-.69a53.94,53.94,0,0,1-21.15-24.67l-2.72-6.1a79.82,79.82,0,0,0-73-47.47,82.58,82.58,0,0,0-8.67.48l-6.66.72a58.87,58.87,0,0,1-6.54.36,53.62,53.62,0,0,1-21.94-4.55,55.18,55.18,0,0,1-23.93-20.65,56.13,56.13,0,0,1-9.11-30.27c.05-10.8,3.15-21.57,10.89-32.23l4-5.38a79.25,79.25,0,0,0,0-93.94l-3.95-5.38c-7.77-10.66-10.87-21.43-10.92-32.23a55.26,55.26,0,0,1,4.15-20.78,56.93,56.93,0,0,1,19.64-24.89,52.9,52.9,0,0,1,14.3-7.19,54.61,54.61,0,0,1,16.89-2.61A59.14,59.14,0,0,1,326,258l6.69.72a84.28,84.28,0,0,0,8.64.47,79.84,79.84,0,0,0,73-47.42v0l2.72-6.11a53.84,53.84,0,0,1,21.15-24.67,57,57,0,0,1,58.94,0,54,54,0,0,1,21.15,24.67l2.73,6.11a79.77,79.77,0,0,0,73,47.45,84.36,84.36,0,0,0,8.66-.47l6.66-.72a59.85,59.85,0,0,1,6.58-.36,53.52,53.52,0,0,1,21.93,4.56,55.18,55.18,0,0,1,23.94,20.64,55.92,55.92,0,0,1,9.08,30.27c-.06,10.8-3.12,21.57-10.9,32.23Z'/%3E%3C/svg%3E";
 //$icon-actions: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 935.43 935.43'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='935.43' height='935.43'/%3E%3Crect x='442.67' y='98.44' width='49.08' height='71.91'/%3E%3Cpolygon points='307.35 137.6 266.18 163.71 306.28 224.03 347.44 197.92 307.35 137.6'/%3E%3Cpolygon points='174.53 268.56 154.57 312.36 221.82 341.61 241.79 297.81 174.53 268.56'/%3E%3Cpolygon points='136.16 449.06 143.83 496.42 216.54 485.17 208.86 437.81 136.16 449.06'/%3E%3Cpolygon points='204.6 620.86 237.44 656.49 292.15 608.36 259.31 572.74 204.6 620.86'/%3E%3Cpolygon points='709.26 644.4 740.14 607.14 682.93 561.88 652.05 599.14 709.26 644.4'/%3E%3Cpolygon points='720.93 472.24 794.15 479.75 799.28 432.07 726.06 424.56 720.93 472.24'/%3E%3Cpolygon points='773.55 296.5 751.27 253.79 685.68 286.44 707.96 329.15 773.55 296.5'/%3E%3Cpolygon points='654.12 153.78 611.61 129.8 574.8 192.09 617.3 216.06 654.12 153.78'/%3E%3Cpath d='M565.44,544.68c-4.85,3.63-10,7.09-15.24,10.31-21.55,12.86-33.84,36.45-33.84,61.15v29.43H418.19V616.14c0-24.7-12.38-48.29-33.94-61.15-5.27-3.22-10.3-6.68-15.15-10.31-41.55-31.72-66.57-83-60.42-139.72,7.79-71.54,66.74-129.65,140-137.76C544.92,256.54,626.82,330,626.82,422c0,49.81-24.06,94.21-61.38,122.72M453.68,218.57c-102.06,6.34-185.77,86.35-194.26,186-6.49,76.37,30.13,144.7,88.65,184.53a47.56,47.56,0,0,1,21,39.24v65.21l0,5.42v90.11l34.63,48H530.82l34.62-48V628.4a46.68,46.68,0,0,1,20.43-38.82c54.37-36.79,90-98.19,90-167.62,0-117-100.85-210.83-222.22-203.39'/%3E%3C/svg%3E";
