@import "~open-city-design/src/scss/helsinki/mixins";

.nav-org-logo  {
  @include helsinki-logo(#ffffff);
  height: 2em;
  width: 5em;
}

.footer-org-logo  {
  @include helsinki-logo(#ffffff);
  background-position: center;
}

.hero-banner-bottom {
  &::before {
    content: " ";
    @include koro("beat", $brand-light, 420);
    width: 100%;
    height: $spacer * 4;
    position: absolute;
    top: -5px;
  }
}

.actions-section {
  &::before {
    content: " ";
    @include koro("basic", $brand-light, 420);
    width: 100%;
    height: $spacer * 2;
    position: absolute;
    top: $spacer * -2;
  }
}
