/**
 * _theme-styles.scss
 *
 * Style overrides for the theme. Often handles sizing and coloring
 * of brand elements of the UI. Also import theme specific fonts here.
 *
 */

 @import "~open-city-design/src/scss/helsinki/mixins";

.hero-banner-bottom {
  &::before {
    content: " ";
    @include koro("storm", #ffffff, 600);
    width: 100%;
    height: $spacer * 3;
    position: absolute;
    top: -5px;
    transform: rotate(180deg);
  }
}

.actions-section {
  &::before {
    content: " ";
    @include koro("storm", $brand-dark, 600);
    width: 100%;
    height: $spacer * 3;
    position: absolute;
    top: -5px;
    transform: rotate(180deg);
  }
}

.indicators-section {
  &::before {
    content: " ";
    @include koro("storm", $brand-light, 600);
    width: 100%;
    height: $spacer * 3;
    position: absolute;
    top: -5px;
    transform: rotate(180deg);
  }
}
