/**
 * _theme-variables.scss
 *
 * These are extended set of Bootstrap style variables. They are used
 * for building a themed Bootstrap base stylesheet for Reactstrap
 *
 * All these variables are also parsed as theme object for Styled
 * Components and they are referenced in most of the UI components.
 * This file has to be self-contained and can not refer to variables
 * from the other theme files.
 *
 */

$name: 'hnh2035';

// Service specific brand color defaults
// brand-light/brand-dark should have contrast ratio over 4.5
// brand-light/theme.dark should have contrast ratio over 4.5
// brand-dark/theme.light should have contrast ratio over 4.5
$brand-light:  #ffc61e;
$brand-dark:   #007438; //modified hel-tram for a11y
$neutral-light:  #ffc61e;
$neutral-dark:   #007438; //modified hel-tram for a11y

// Application color mappings:
$theme-colors: (
  "primary":    $brand-dark,
  "secondary":  $brand-light,
  "success":    #007a64,
  "info":       #007293,
  "warning":    #ffda07,
  "danger":     #c4123e,
  "light":      #f1f1f1,
  "dark":       #4c4c4c,
  "black":      #1a1a1a,
  "white":      #ffffff,
);

$image-overlay: $brand-dark;

$font-url: '/static/fonts/hnh2035/fonts.css';
$font-family: 'HelsinkiGrotesk';
$headings-font-family: $font-family;
$headings-color: #1a1a1a;

$font-size-sm:	  0.875rem;
$font-size-base: 	1rem;
$font-size-md:	  1.125rem;
$font-size-lg:	  1.5rem;
$font-size-xl:	  2.25rem;
$font-size-xxl:	  3.25rem;

$line-height-base:            1.5;
$line-height-sm:              1;
$line-height-md:              1.2;
$line-height-lg:              1.75;

$space: 1rem;
$spaces: (
  s000: 0,
  s025: $space / 4,   //4px
  s050: $space / 2,   //8px
  s100: $space,       //16px
  s150: $space * 1.5, //24px
  s200: $space * 2,    //32px
  s300: $space * 3,   //48px
  s400: $space * 4,   //64px
  s600: $space * 6,   //96px
  s800: $space * 8,   //128px
);

// Links
//
// Style anchor elements.

$link-color: $brand-dark;
$link-hover-color: darken($brand-dark, 7%);

// Components
//
// Define common padding and border radius sizes and more.

//$component-active-color:      $hel-white !default;
$component-active-bg:         $brand-dark;

$nav-pills-link-active-bg: $brand-dark;

$list-group-active-bg:  $component-active-bg;
$list-group-active-border-color:  $list-group-active-bg;

/////// BUTTONS

$input-btn-focus-color:       #0072c6;
$input-btn-padding-y:           1rem;
$input-btn-padding-x:           1rem;
$btn-border-radius:             0;
$btn-border-width:        2px;

/////// FORMS

$input-padding-y:            $input-btn-padding-y;
$input-padding-x:            $input-btn-padding-x;
$input-bg:                   #ffffff;
$input-border-width:         2px;
$input-line-height:          1.5;
$input-border-radius:        2px;
$custom-select-indicator:    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTExLjg5NiAzTDcgNy44NDIgMi4xMDQgMyAwIDUuMDggNyAxMmw3LTYuOTJMMTEuODk2IDN6IiBmaWxsPSIjMDAwIi8+PC9zdmc+") !default;
$form-label-font-weight:     400;

/////// NAV

$brand-nav-color:              #ffffff;
$brand-nav-background:         $brand-dark;

/////// CARDS

$card-border-width:                   0;
$card-border-radius:                  0;

/////// BADGES

$badge-background:                $brand-dark;
$badge-color:                     #ffffff;
$badge-border-radius:             0;
$badge-padding-y:                 .5em;
$badge-padding-x:                 .75em;
$badge-font-weight:               400;

/////// TABLES

$table-head-bg:                   #f1f1f1;
$table-hover-bg:                  #f1f1f1;

// Actions
$actionNotStarted-color:    #ECEAE6;
$actionCompleted-color:     #007438;
$actionOnTime-color:        #007438;
$actionLate-color:          #FFE977;
$actionSeverelyLate-color:  #812A03;
$actionMerged-color:        #808080;

// Indicators
$action-color: #007438; //modified hel-tram for a11y
$operational-indicator-color: #80EBD3; // modified hel-copper for a11y
$tactical-indicator-color: #b7dbf7; // modified hel-fog for a11y
$strategic-indicator-color: #006EB2; // modified hel-coat for a11y

$action-color-fg: #ffffff;
$operational-indicator-color-fg: #1a1a1a;
$tactical-indicator-color-fg: #1a1a1a;
$strategic-indicator-color-fg: #ffffff;

$causality-increases-color: #006250;
$causality-decreases-color: #8d0d2d;
$causality-is-part-of-color: #808080;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$icons-url: '/static/icons/hnh2035';
$theme-logo-url: '/static/images/hnh2035/helsinki-logo-white.svg';
$theme-logo-white-url: '/static/images/hnh2035/helsinki-logo-white.svg';
$icon-indicators-url: '/static/images/default/icon-indicators.svg';
$icon-actions-url: '/static/images/default/icon-actions.svg';

$theme-custom-styles-url: '/static/styles/hnh2035/custom.css';

$graph-colors: (
  grey010: #eeeeee,
  grey030: #c7c7c7,
  grey050: #a0a0a0,
  grey070: #636363,
  grey090: #3f3f3f,
  green010: #CCE9DA,
  green030: #80C8A2,
  green050: #009246,
  green070: #007438,
  green090: #014522,
  red010: #F1D3D1,
  red030: #DE938C,
  red050: #BD2719,
  red070: #99160A,
  red090: #70170E,
  blue010: #CCE2F3,
  blue030: #80B8E2,
  blue050: #0072C6,
  blue070: #005B9E,
  blue090: #02355B,
  yellow010: #FFE28E,
  yellow030: #FFC61E,
  yellow050: #E2AB0A,
  yellow070: #B98A00,
  yellow090: #8C6900,
);
