@import "~open-city-design/src/scss/helsinki/mixins";

.nav-org-logo  {
  @include helsinki-logo($hel-suomenlinna);
  width: 5em;
}

.footer-org-logo  {
  @include helsinki-logo(#ffffff);
  background-position: center;
}

.comments-section {
    &::before {
      content: " ";
      @include koro("wave", $white, 420);
      transform: rotate(180deg);
      width: 100%;
      height: $spacer * 3;
      position: absolute;
      top: -5px;
    }
}

.hero-banner-bottom {
  &::before {
    content: " ";
    @include koro("wave", $brand-light, 420);
    width: 100%;
    height: $spacer * 3;
    position: absolute;
    top: -5px;
    transform: rotate(180deg);
  }
}

.actions-section {
  &::before {
    content: " ";
    @include koro("wave", $brand-dark, 420);
    width: 100%;
    height: $spacer * 3;
    position: absolute;
    top: -5px;
    transform: rotate(180deg);
  }
}
