.icon {
    width:1em;
    height:1em
  }

h1, h2, h3 , h4, h5 {
  line-height: 1;
}

.badge-pill {
  border-radius: 10rem;
}

.index-page {
  background-color: $hel-summer;
}

.hero-banner-top {
  position: relative;
  padding: $spacer * 3 0;
  background-color: $hel-summer;

  .container {
    text-align: center;
  }
}

.hero-banner-bottom {
  color: $white;
  position: relative;
  padding: $spacer * 6 0 $spacer * 3;
  background-color: $hel-tram;
  
  .container {
    text-align: center;
  }
  
  &::before {
    content: " ";
    @include koro("storm", $hel-summer, 600);
    width: 100%;
    height: $spacer * 3;
    position: absolute;
    top: -5px;
    transform: rotate(180deg);
  }
}

.actions-section {
  position: relative;
  padding: $spacer * 8 0;
  background-color: $hel-summer;
  
  .container {
    text-align: center;
  }
  
  &::before {
    content: " ";
    @include koro("storm", $hel-tram, 600);
    width: 100%;
    height: $spacer * 3;
    position: absolute;
    top: -5px;
    transform: rotate(180deg);
  }
}

.official-text {
  color: $hel-tram;
}

.comments-section {
  position: relative;
  min-height: 14em;
  clear: both;
  background-color: $hel-tram;
  padding: 6rem 0;
  
    &::before {
      content: " ";
      @include koro("storm", $white, 600);
      transform: rotate(180deg);
      width: 100%;
      height: $spacer * 3;
      position: absolute;
      top: -5px;
    }
  
  .footer-column {
    text-align: center;
  }
  
  a {
    color: $white;
  }
}

.site-footer {
  position: relative;
  min-height: 14em;
  clear: both;
  background-color: $hel-tram;
  color: #ffffff;
  padding: 6rem 0;
  
    &::before {
      content: " ";
      @include koro("storm", $hel-tram, 600);
      width: 100%;
      height: $spacer * 3;
      position: absolute;
      top: $spacer * -3;
    }
  
  .footer-column {
    text-align: center;
  }
  
  a {
    color: $white;
  }
}





.hearing-comment {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: $white;

    &-header {
        border-bottom: 1px solid $hel-gray;
    }
    &-body {
        padding-top: 15px;
    }
    &-votes {
        float: right;
        width: 20%;
        text-align: right;
        color: $primary;
    }
    &-publisher {
        width: 80%;
        float: left;
        font-weight: bold;
    }
    &-user {
        margin-right: 10px;
        @media (max-width: 500px) {
            display: block;
        }
        &-registered {
            color: $primary;
            :not(.fa)  {
            }
        }
    }
    &-date {
        color: #999;
        @media (max-width: 500px) {
            display: block;
        }
        @media (min-width: 700px) {
            &:before {
                content: "\2022";
                margin-right: 10px;
                color: #aaa;
            }
        }
    }
    &-vote-link {
        padding: 0;
        border: 0;
        background: transparent;
        color: $link-color;
        letter-spacing: .03em;
        &:hover, &:focus {
            background: transparent;
            color: $primary;
        }
        .fa {
            color: $light;
            margin-right: 2px;
            font-size: 1.4rem;
        }
    }
}

.comment-form {
    background-color: $hel-silver;
    padding: 1em;
    margin-bottom: 2rem;

    &__file {
        margin: 10px 0;
        padding-top: 10px;
    }

    &__image-too-big {
        color: red !important;
        padding-bottom: 10px;
    }

    &__select-button {
        padding: 10px 0;
    }

    &__selected-images {
        padding-top: 10px;
    }
  
  .form-control {
    margin-bottom: 2em;
  }
}

.comment-conditions {
    padding-top: 15px;
    font-size: 1rem;
  a {
    color: $hel-tram;
  }
}

.section-title {
    cursor: pointer;
    &-comments {
        float: right;
    }
}

.closure-info {
    background-color: $primary;
    .section-title {
        cursor: auto;
    }
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1px;
}
