
/* @import url("https://use.typekit.net/jwl3gnl.css"); /* Franklin Gothic from typekit */  

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,700;1,400&display=swap');


@font-face {
    font-family: 'LahtiSans';
    src: url('https://api.watch.kausal.tech/media/themes/lahti/LahtiSans/LahtiSans-Regular.eot');
    src: url('https://api.watch.kausal.tech/media/themes/lahti/LahtiSans/LahtiSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://api.watch.kausal.tech/media/themes/lahti/LahtiSans/LahtiSans-Regular.woff2') format('woff2'),
         url('https://api.watch.kausal.tech/media/themes/lahti/LahtiSans/LahtiSans-Regular.woff') format('woff'),
         url('https://api.watch.kausal.tech/media/themes/lahti/LahtiSans/LahtiSans-Regular.ttf')  format('truetype');
    font-weight: 700;
  }

/*
@font-face {
    font-family: 'LahtiSans';
    src: url('https://api.watch.kausal.tech/media/themes/lahti/LahtiSans/LahtiSans-Bold.eot');
    src: url('https://api.watch.kausal.tech/media/themes/lahti/LahtiSans/LahtiSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://api.watch.kausal.tech/media/themes/lahti/LahtiSans/LahtiSans-Bold.woff2') format('woff2'),
         url('https://api.watch.kausal.tech/media/themes/lahti/LahtiSans/LahtiSans-Bold.woff') format('woff'),
         url('https://api.watch.kausal.tech/media/themes/lahti/LahtiSans/LahtiSans-Bold.ttf')  format('truetype');
    font-weight: 700;
  }
*/
