$name: 'lahti-ilmasto';


/**
 * _theme-variables.scss
 *
 * These are extended set of Bootstrap style variables. They are used
 * for building a themed Bootstrap base stylesheet for Reactstrap
 *
 * All these variables are also parsed as theme object for Styled
 * Components and they are referenced in most of the UI components.
 * This file has to be self-contained and can not refer to variables
 * from the other theme files.
 *
 */

 $name: 'lahti-ilmasto';

 // Theme specific brand colors
 // brand-light/brand-dark should have contrast ratio over 4.5
 // brand-light/theme.dark should have contrast ratio over 4.5
 // brand-dark/theme.light should have contrast ratio over 4.5
 $brand-light:  #01E376;
 $brand-dark:   #0050B0;
 $neutral-light: #F2F6FB;
 $neutral-dark: #0050B0;

 // Application color mappings:
 $theme-colors: (
   "primary":    $brand-dark,
   "secondary":  $brand-light,
   "success":    #107251,
   "info":       #336D94,
   "warning":    #F4CE73,
   "danger":     #A73939,
   "light":      #edf2f8,
   "dark":       #454545,
   "black":      #000000,
   "white":      #FFFFFF,
 );

 $image-overlay: $brand-dark;

 // Fonts
 $font-url: '/static/fonts/lahti-ilmasto/fonts.css';
 $font-family: 'Libre Franklin';

 $font-family-sans-serif:      #{$font-family}, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
 $font-family-base:            $font-family-sans-serif;

 $font-size-sm:	  0.75rem;
 $font-size-base: 	1rem;
 $font-size-md:	  1.5rem;
 $font-size-lg:	  1.75rem;
 $font-size-xl:	  2.25rem;
 $font-size-xxl:	  3rem;

 $font-weight-normal:          400;
 $font-weight-bold:            700;

 $font-weight-base:            $font-weight-normal !default;

 $line-height-base:            1.6;
 $line-height-sm:              1;
 $line-height-md:              1.2;
 $line-height-lg:              1.75;

 $space: 0.8rem;
 $spaces: (
   s000: 0,
   s025: $space / 4,   //4px
   s050: $space / 2,   //8px
   s100: $space,       //16px
   s150: $space * 1.5, //24px
   s200: $space * 2,    //32px
   s300: $space * 3,   //48px
   s400: $space * 4,   //64px
   s600: $space * 6,   //96px
   s800: $space * 8,   //128px
 );

 // Links
 //
 // Style anchor elements.

 $link-color: $brand-dark;
 $link-hover-color: darken($brand-dark, 7%);

 // Components
 //
 // Define common padding and border radius sizes and more.

 //$component-active-color:      #ffffff !default;
 $component-active-bg:         $brand-dark;

 $nav-pills-link-active-bg: $brand-dark;

 $list-group-active-bg:  $component-active-bg;
 $list-group-active-border-color:  $list-group-active-bg;


 /////// BUTTONS

 $input-btn-focus-color:       #4E80A6;
 $input-btn-padding-y:           .5rem;
 $input-btn-padding-x:           .75rem;
 $btn-border-radius:             4px;
 $btn-border-width:        2px;

 /////// FORMS

 $input-padding-y:            $input-btn-padding-y;
 $input-padding-x:            $input-btn-padding-x;
 $input-bg:                   #ffffff;
 $input-border-width:         1px;
 $input-line-height:          1.5;
 $input-border-radius:        4px;
 $custom-select-indicator:    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTExLjg5NiAzTDcgNy44NDIgMi4xMDQgMyAwIDUuMDggNyAxMmw3LTYuOTJMMTEuODk2IDN6IiBmaWxsPSIjMDAwIi8+PC9zdmc+") !default;
 $form-label-font-weight:     400;

 /////// NAV

 $brand-nav-background:              $neutral-dark;

 /////// CARDS

 $card-border-width:                   1px;
 $card-border-radius:                  0;

 /////// BADGES

 $badge-border-radius:             3px;
 $badge-padding-y:                 .5em;
 $badge-padding-x:                 .75em;
 $badge-font-weight:               700;

 /////// TABLES

 $table-head-bg:                   transparent;
 $table-hover-bg:                  #F2F6FB;

 // Actions
$actionNotStarted-color:    #DEDFE1;
$actionCompleted-color:     #006864;
$actionOnTime-color:        #006864;
$actionLate-color:          #FFEB7A;
$actionSeverelyLate-color:  #B73344;
$actionMerged-color:        #DEDFE1;

 // Indicators
 $action-color: #00387A;
 $operational-indicator-color: #0050B0;
 $tactical-indicator-color: #64A8FA;
 $strategic-indicator-color: #BCDAFF;

 $action-color-fg: #ffffff;
 $operational-indicator-color-fg: #ffffff;
 $tactical-indicator-color-fg: #000000;
 $strategic-indicator-color-fg: #000000;

 $causality-increases-color: #279A6D;
 $causality-decreases-color: #D46262;
 $causality-is-part-of-color: #88847C;

 // Breakpoints
 $breakpoint-sm: 576px;
 $breakpoint-md: 768px;
 $breakpoint-lg: 992px;
 $breakpoint-xl: 1200px;

 $icons-url: '/static/icons/default';
 $theme-logo-url: '/static/images/lahti-ilmasto/lahti-logo-white.svg';
 $theme-logo-white-url: $theme-logo-url;
 $icon-indicators-url: '/static/images/lahti-ilmasto/icon-indicators.svg';
 $icon-actions-url: '/static/images/lahti-ilmasto/icon-actions.svg';

 $theme-custom-styles-url: '/static/styles/lahti-ilmasto/custom.css';

 $graph-colors: (
  green010: #7CFFC0,
  green030: #01E376,
  green050: #1CB76C,
  green070: #13814C,
  green090: #02542D,
  red010: #FFD6DB,
  red030: #FAAAB4,
  red050: #FB4B62,
  red070: #BF182E,
  red090: #7E0212,
  blue010: #B6EBFB,
  blue030: #6DCEEB,
  blue050: #04ACDD,
  blue070: #0B7FA0,
  blue090: #0C5469,
  yellow010: #FFEB7A,
  yellow030: #F8DE4E,
  yellow050: #E8CA24,
  yellow070: #C7AA06,
  yellow090: #A08800,
);
