/**
 * _app-styles.scss
 *
 * After setting up the app and theme variables import Bootstrap
 * components and styles. Then add app specific global styles
 * and overrides.
 *
 */

 @import "~bootstrap/scss/mixins";
 @import "~bootstrap/scss/root";
 @import "~bootstrap/scss/reboot";
 @import "~bootstrap/scss/type";
 @import "~bootstrap/scss/images";
 @import "~bootstrap/scss/code";
 @import "~bootstrap/scss/grid";
 @import "~bootstrap/scss/tables";
 @import "~bootstrap/scss/forms";
 @import "~bootstrap/scss/buttons";
 @import "~bootstrap/scss/transitions";
 @import "~bootstrap/scss/dropdown";
 @import "~bootstrap/scss/button-group";
 @import "~bootstrap/scss/input-group";
 @import "~bootstrap/scss/custom-forms";
 @import "~bootstrap/scss/nav";
 @import "~bootstrap/scss/navbar";
 @import "~bootstrap/scss/card";
 //@import "~bootstrap/scss/breadcrumb"; // not used by the app
 @import "~bootstrap/scss/pagination";
 @import "~bootstrap/scss/badge";
 @import "~bootstrap/scss/jumbotron";
 @import "~bootstrap/scss/alert";
 @import "~bootstrap/scss/progress";
 @import "~bootstrap/scss/media";
 @import "~bootstrap/scss/list-group";
 @import "~bootstrap/scss/close";
 @import "~bootstrap/scss/modal";
 @import "~bootstrap/scss/tooltip";
 @import "~bootstrap/scss/popover";
 //@import "~bootstrap/scss/carousel"; // not used by the app
 @import "~bootstrap/scss/utilities";
 @import "~bootstrap/scss/print";

.icon {
  fill: currentColor;
  vertical-align: -0.1em;
  overflow: hidden;
}

h1, h2, h3 , h4, h5 {
  line-height: 1.1;
  color: inherit;
}

blockquote {
  margin-left: 2em;
  padding-left: 1em;
  border-left: #cccccc 3px solid;
}

.badge-pill {
  border-radius: 10rem;
}

.index-page {
  background-color: $brand-light;
}

.hero-banner-top {
  position: relative;
  padding: $spacer * 3 0;
  background-color: $brand-light;

  .container {
    text-align: center;
  }
}

.comments-section {
  position: relative;
  min-height: 14em;
  clear: both;
  background-color: $brand-dark;
  padding: 8rem 0;

  .footer-column {
    text-align: center;
  }

  a {
    color: $white;
  }
}

.bg-not_started {
  background-color: #999999;
}

.bg-on_time {
  background-color: $brand-dark;
}

.bg-late {
  background-color: $brand-light;
}

.bg-severely_late {
  background-color: $red;
}

.bg-status {
  background-color: $green;
}

.text-content {
  a {
    text-decoration: underline;
  }

  h3, h4, h5 {
    line-height: 1.2;
  }

  h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
  }

  h4 {
    margin-top: 1.25rem;
    font-size: 1.25rem;

    &:first-child {
      margin-top: 0;
    }
  }

  h5 {
    font-size: 1rem;
  }
}

/* Fix for flickering tooltip bug */
.tooltip {
  pointer-events: none;
}

/* Larger tooltip for emission scope icon */
.emission-scope-icon-tooltip {
  text-align: left;
  min-width: 20em;
}

/// Open City Design Style defaults

.btn-outline-light:hover {
  background-color: rgba(255,255,255,0.3);
}


/* Form styles overrides */

label {
  font-weight: 500;
}

.custom-file-label, .custom-control-label {
  font-weight: 400;
}

// Boxed input fields into underlined
.form-control {
  border-width: 0 0 2px 0;
  padding: 6px 2px;
}

// Validaded invalid field has color background
.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  background-color: rgba($danger, 0.15);
}

textarea.form-control {
  border-width: 2px;
  padding: 6px 12px;
}

// form element focus style
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus,
.uneditable-input:focus {
  border-color: theme-color("secondary");
  background: rgba($white, 0.3);
  box-shadow: none;
}

// Make password hide characters consistent
input[type="password"] {
  font-family: caption;
  letter-spacing: 3px;

  &::placeholder {
    font-family: "HelsinkiGrotesk";
    letter-spacing: normal;
  }
}

// input group when button border is 2px

.input-group .form-control {
  border-width: 2px;
  padding: 0.375rem 0.75rem;
}

.input-group-text {
  color: $black;
}

.input-group-prepend {
  margin-right: -2px;
}

.input-group-append {
  margin-left: -2px;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  border-color: $black;
  border-width: 2px;
  padding: 0 0.75rem;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-color: $black;
  border-width: 2px;
  padding: 0 0.75rem;
}

.input-group-prepend .btn + .btn, .input-group-prepend .btn + .input-group-text, .input-group-prepend .input-group-text + .input-group-text, .input-group-prepend .input-group-text + .btn, .input-group-append .btn + .btn, .input-group-append .btn + .input-group-text, .input-group-append .input-group-text + .input-group-text, .input-group-append .input-group-text + .btn {
  margin-left: -2px;
}

// Custom checkboxes and radiobuttons

.custom-control-label::before {
  border: 2px solid $black;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  border: 2px solid lighten($black,40%);
}

// Custom Select

.custom-select {
  border: 2px solid $black;

  &:disabled {
    border-color: lighten($black,40%);
  }

}

.custom-select[multiple] {
  padding: 0;

  option {
    padding: .25rem;
    margin: 2px;
  }
}

// Custom File Browser

.custom-file-label {
  border: 2px solid $black;

  &:after {
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
  }
}

.custom-file-input:disabled ~ .custom-file-label {
  border-color: lighten($black,40%);

  &:after {
    border-color: lighten($black,40%);
  }
}

// Dashboard Bar Component

/* TODO: we probably should use some theme color? */
$active-segment: firebrick;

.bar-segment-container {
  height: 4em;
  border: 2px solid lighten($black,20%);
  background-color: darken($white,15%);
}

.bar-segment:nth-child(3n + 1) {
  background-color: darken($white,15%);
}

.bar-segment:nth-child(3n + 2) {
  background-color: darken($white,10%);
}

.bar-segment:nth-child(3n) {
  background-color: darken($white,5%);
}

.bar-segment {
  font-weight: 700;
  font-size: 1.6em;
  color: lighten($black,20%);

  &:hover {
    background-color: rgba(0, 0, 0, 0.10);
  }

  &.small {
    font-weight: 400;
    font-size: 1em;
  }

  &.active {
    background-color: $active-segment;
    color: white;
  }
}

.bar-arrow {
  background-color: $active-segment;
  border: 2px solid lighten($black,20%);
}

/* Monitoring Quality Point Icon (star symbol) */
.mqpoint-icon {
  color: rgba(0, 0, 0, 0.5);
}
