/**
 * _app-styles.scss
 *
 * After setting up the app and theme variables import Bootstrap
 * components and styles. Then add app specific global styles
 * and overrides.
 *
 */

 @import "~bootstrap/scss/mixins";
 @import "~bootstrap/scss/root";
 @import "~bootstrap/scss/reboot";
 @import "~bootstrap/scss/type";
 @import "~bootstrap/scss/images";
 @import "~bootstrap/scss/code";
 @import "~bootstrap/scss/grid";
 @import "~bootstrap/scss/tables";
 @import "~bootstrap/scss/forms";
 @import "~bootstrap/scss/buttons";
 @import "~bootstrap/scss/transitions";
 @import "~bootstrap/scss/dropdown";
 @import "~bootstrap/scss/button-group";
 @import "~bootstrap/scss/input-group";
 @import "~bootstrap/scss/custom-forms";
 @import "~bootstrap/scss/nav";
 @import "~bootstrap/scss/navbar";
 @import "~bootstrap/scss/card";
 //@import "~bootstrap/scss/breadcrumb"; // not used by the app
 @import "~bootstrap/scss/pagination";
 @import "~bootstrap/scss/badge";
 @import "~bootstrap/scss/jumbotron";
 @import "~bootstrap/scss/alert";
 @import "~bootstrap/scss/progress";
 @import "~bootstrap/scss/media";
 @import "~bootstrap/scss/list-group";
 @import "~bootstrap/scss/close";
 @import "~bootstrap/scss/modal";
 @import "~bootstrap/scss/tooltip";
 @import "~bootstrap/scss/popover";
 //@import "~bootstrap/scss/carousel"; // not used by the app
 @import "~bootstrap/scss/utilities";
 @import "~bootstrap/scss/print";


.icon {
  fill: currentColor;
  vertical-align: -0.1em;
  overflow: hidden;
}

h1, h2, h3 , h4, h5 {
  line-height: 1.1;
  color: inherit;
}

blockquote {
  margin-left: 2em;
  padding-left: 1em;
  border-left: #cccccc 3px solid;
}

.badge-pill {
  border-radius: 10rem;
}

.index-page {
  background-color: $brand-light;
}

.hero-banner-top {
  position: relative;
  padding: $spacer * 3 0;
  background-color: $brand-light;

  .container {
    text-align: center;
  }
}

.comments-section {
  position: relative;
  min-height: 14em;
  clear: both;
  background-color: $brand-dark;
  padding: 8rem 0;

  .footer-column {
    text-align: center;
  }

  a {
    color: $white;
  }
}

.bg-not_started {
  background-color: #999999;
}

.bg-on_time {
  background-color: $brand-dark;
}

.bg-late {
  background-color: $brand-light;
}

.bg-severely_late {
  background-color: $red;
}

.bg-status {
  background-color: $green;
}

.text-content {
  a {
    text-decoration: underline;
  }

  h3, h4, h5 {
    line-height: 1.2;
  }

  h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
  }

  h4 {
    margin-top: 1.25rem;
    font-size: 1.25rem;

    &:first-child {
      margin-top: 0;
    }
  }

  h5 {
    font-size: 1rem;
  }
}

/* Fix for flickering tooltip bug */
.tooltip {
  pointer-events: none;
}

/* Larger tooltip for emission scope icon */
.emission-scope-icon-tooltip {
  text-align: left;
  min-width: 20em;
}

/// Open City Design Style defaults

.btn-outline-light:hover {
  background-color: rgba(255,255,255,0.3);
}


/* Form styles overrides */

// Validaded invalid field has color background
.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  background-color: rgba($danger, 0.15);
}


// Dashboard Bar Component

$active-segment: #444;

.bar-segment-container {
  height: 4em;
  border: 2px solid lighten($black,20%);
  background-color: darken($white,15%);
}

.bar-segment:nth-child(3n + 1) {
  background-color: darken($white,15%);
}

.bar-segment:nth-child(3n + 2) {
  background-color: darken($white,10%);
}

.bar-segment:nth-child(3n) {
  background-color: darken($white,5%);
}

.bar-segment {
  font-weight: 700;
  font-size: 1.6em;
  color: lighten($black,20%);

  &:hover {
    background-color: rgba(0, 0, 0, 0.10);
  }

  &.small {
    font-weight: 400;
    font-size: 1em;
  }

  &.very-small {
    font-weight: 400;
    font-size: 0.8em;
  }

  &.active {
    background-color: $active-segment;
    color: white;
  }
}

.bar-arrow {
  background-color: $active-segment;
  border: 2px solid lighten($black,20%);
}

.form-control, .custom-select {
  &:hover {
    border-color: $black;
  }
}