.hearing-comment {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: $white;

  &-header {
    border-bottom: 1px solid $gray-500;
  }

  &-body {
    padding-top: 15px;
  }

  &-votes {
    float: right;
    width: 20%;
    text-align: right;
    color: $primary;
  }

  &-publisher {
    width: 80%;
    float: left;
    font-weight: bold;
  }

  &-user {
    margin-right: 10px;

    @media (max-width: 500px) {
      display: block;
    }

    &-registered {
      color: $primary;

      :not(.fa) {}
    }
  }

  &-date {
    color: #999;
    font-weight: 400;
    
    @media (max-width: 500px) {
      display: block;
    }

    @media (min-width: 700px) {
      &:before {
        content: "\2022";
        margin-right: 10px;
        color: #aaa;
      }
    }
  }

  &-vote-link {
    padding: 0;
    border: 0;
    background: transparent;
    color: $link-color;
    letter-spacing: .03em;

    &:hover,
    &:focus {
      background: transparent;
      color: $primary;
    }

    .fa {
      color: $light;
      margin-right: 2px;
      font-size: 1.4rem;
    }
  }
}

.comment-form {
  background-color: $gray-200;
  padding: 1em;
  margin-bottom: 2rem;

  &__file {
    margin: 10px 0;
    padding-top: 10px;
  }

  &__image-too-big {
    color: red !important;
    padding-bottom: 10px;
  }

  &__select-button {
    padding: 10px 0;
  }

  &__selected-images {
    padding-top: 10px;
  }

  .form-control {
    margin-bottom: 2em;
  }
}

.comment-conditions {
  padding-top: 15px;
  font-size: 1rem;

  a {
    color: $brand-dark;
  }
}

.section-title {
  cursor: pointer;

  &-comments {
    float: right;
  }
}

.closure-info {
  background-color: $primary;

  .section-title {
    cursor: auto;
  }

  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1px;
}
