@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/_variables";

@import "~open-city-design/src/scss/6aika/variables";

$border-radius:          0;
$border-radius-lg:       0;
$border-radius-sm:       0;

$enable-rounded: false;
$card-border-width: 0;

$headings-font-weight:   600;

$navbar-brand-font-size:            $font-size-base;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base;
$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2;

// Forms

$label-margin-bottom:                   0;

$input-bg:                              transparent;
$input-disabled-bg:                     rgba($black, 0.1);

$input-border-color:                    $black;
$input-box-shadow:                      0;

$input-border-radius:                   $border-radius;
$input-border-radius-lg:                $border-radius-lg;
$input-border-radius-sm:                $border-radius-sm;

$input-placeholder-color:               lighten($black, 40%);

$form-group-margin-bottom:              2rem;
$custom-control-gutter:                 1.75rem;
$custom-control-spacer-x:               1.5rem;

$custom-control-indicator-size:         1.25rem;

$custom-control-indicator-bg:           transparent;

$custom-control-indicator-bg-size:      60% 60%;
$custom-control-indicator-box-shadow:   none;

$custom-control-indicator-disabled-bg:    transparent;
$custom-control-label-disabled-color:     lighten($black,40%);

$custom-control-indicator-checked-bg:           #ffffff;
$custom-control-indicator-checked-disabled-bg:  #ffffff;
$custom-control-indicator-checked-box-shadow:   none;

$custom-checkbox-indicator-indeterminate-color: "990000";

$custom-select-indicator-color:     #990000;

$custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$black}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23");
$custom-radio-indicator-icon-checked:           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#{$black}'/%3E%3C/svg%3E"), "#", "%23");
