
.btn-outline-light:hover {
  background-color: rgba(255,255,255,0.3);
}


/* Form styles overrides */

label {
  font-weight: 500;
}

.custom-file-label, .custom-control-label {
  font-weight: 400;
}

// Boxed input fields into underlined
.form-control {
  border-width: 0 0 2px 0;
  padding: 6px 2px;
}

// Validaded invalid field has color background
.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  background-color: rgba($danger, 0.15);
}

textarea.form-control {
  border-width: 2px;
  padding: 6px 12px;
  &:focus {
    //border-color: $theme-highlight-dark;
  }
}

// form element focus style
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus,
.uneditable-input:focus {
  border-color: theme-color("secondary");
  background: rgba($white, 0.3);
  box-shadow: none;
}

// Make password hide characters consistent
input[type="password"] {
  font-family: caption;
  letter-spacing: 3px;

  &::placeholder {
    font-family: $font-family-base;
    letter-spacing: normal;
  }
}

// input group when button border is 2px

.input-group .form-control {
  border-width: 2px;
  padding: 0.375rem 0.75rem;
}

.input-group-text {
  color: $gray-100;
}

.input-group-prepend {
  margin-right: -2px;
}

.input-group-append {
  margin-left: -2px;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  border-color: $gray-100;
  border-width: 2px;
  padding: 0 0.75rem;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-color: $gray-700;
  border-width: 2px;
  padding: 0 0.75rem;
}

.input-group-prepend .btn + .btn, .input-group-prepend .btn + .input-group-text, .input-group-prepend .input-group-text + .input-group-text, .input-group-prepend .input-group-text + .btn, .input-group-append .btn + .btn, .input-group-append .btn + .input-group-text, .input-group-append .input-group-text + .input-group-text, .input-group-append .input-group-text + .btn {
  margin-left: -2px;
}

// Custom checkboxes and radiobuttons

.custom-control-label::before {
  border: 2px solid $gray-100;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  border: 2px solid lighten($gray-100,40%);
}

// Custom Select

.custom-select {
  border: 2px solid $gray-100;

  &:disabled {
    border-color: lighten($gray-100,40%);
  }

}

.custom-select[multiple] {
  padding: 0;

  option {
    padding: .25rem;
    margin: 2px;
  }
}

// Custom File Browser

.custom-file-label {
  border: 2px solid $gray-100;

  &:after {
    border-left: 2px solid $gray-100;
    border-bottom: 2px solid $gray-100;
  }
}

.custom-file-input:disabled ~ .custom-file-label {
  border-color: lighten($gray-100,40%);

  &:after {
    border-color: lighten($gray-100,40%);
  }
}

// Mobile mods for Helsinki-menu

.navbar-brand {
  font-weight: 500;
  letter-spacing: 0.03em;
}

.navbar-helsinki {

  font-weight: 500;
  letter-spacing: 0.01em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  z-index: 2;

  .icon {
    width: 1.4em !important;
    height: 1.4em !important;
    vertical-align: text-bottom;
  }

  .language-menu .selected {
    font-weight: 600;
  }

  .user-menu__dropdown {
    .user-name {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    .user-menu__trigger {
      .user-name {
        display: none;
      }
    }

    .user-menu__dropdown {
      .user-name {
        display: inline-block;
      }
    }
  }

}

// Cards have subtle shadow

.card {
  box-shadow: 2px 2px 8px rgba($brand-dark, .1);
}
