/**
 * _theme-variables.scss
 *
 * These are extended set of Bootstrap style variables. They are used
 * for building a themed Bootstrap base stylesheet for Reactstrap
 *
 * All these variables are also parsed as theme object for Styled
 * Components and they are referenced in most of the UI components.
 * This file has to be self-contained and can not refer to variables
 * from the other theme files.
 *
 */
 
$name: 'default';

// Helper colors
$red:     #dc3545;
$yellow:  #ffc107;
$green:   #28a745;
$cyan:    #17a2b8;

// Theme specific brand colors
// brand-light/brand-dark should have contrast ratio over 4.5
// brand-light/theme.dark should have contrast ratio over 4.5
// brand-dark/theme.light should have contrast ratio over 4.5
$brand-light:  #A7EBC0;
$brand-dark:   #0A5E43;
$neutral-light: #eeebe4;
$neutral-dark: #292721;

// Application color mappings:
$theme-colors: (
  "primary":    $brand-dark,
  "secondary":  $brand-light,
  "success":    $green,
  "info":       $cyan,
  "warning":    $yellow,
  "danger":     $red,
  "light":      #E1DFDA,
  "dark":       #46423E,
  "black":      #1A1817,
  "white":      #F7F6F3,
);

$image-overlay: $brand-dark;

// Fonts
$font-url: './static/fonts/default/fonts.css';
$font-family: 'Inter';

$font-family-sans-serif:      #{$font-family}, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

// Links
//
// Style anchor elements.

$link-color: $brand-dark;
$link-hover-color: darken($brand-dark, 7%);

// Components
//
// Define common padding and border radius sizes and more.

//$component-active-color:      #ffffff !default;
$component-active-bg:         $brand-dark;

$nav-pills-link-active-bg: $brand-dark;

$list-group-active-bg:  $component-active-bg;
$list-group-active-border-color:  $list-group-active-bg;


/////// BUTTONS

$input-btn-focus-color:       #4E80A6;
$input-btn-padding-y:           .5rem;
$input-btn-padding-x:           .75rem;
$btn-border-radius:             .25rem;
$btn-border-width:        1px;

/////// FORMS

$input-padding-y:            $input-btn-padding-y;
$input-padding-x:            $input-btn-padding-x;
$input-bg:                   #ffffff;
$input-border-width:         1px;
$input-line-height:          1.5;
$input-border-radius:        4px;
$custom-select-indicator:    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTExLjg5NiAzTDcgNy44NDIgMi4xMDQgMyAwIDUuMDggNyAxMmw3LTYuOTJMMTEuODk2IDN6IiBmaWxsPSIjMDAwIi8+PC9zdmc+") !default;

/////// NAV

$brand-nav-background:              $neutral-dark;

$navbar-dark-color:                 rgba(#222222, .5);
$navbar-dark-hover-color:           rgba(#222222, .75);
$navbar-dark-active-color:          #222222;
$navbar-dark-disabled-color:        rgba(#222222, .25);

$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#eeeeee' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
$navbar-dark-toggler-border-color:  transparent;

$navbar-light-color:                #eeeeee;
$navbar-light-hover-color:          rgba(#eeeeee, .7);
$navbar-light-active-color:         rgba(#eeeeee, .9);
$navbar-light-disabled-color:       rgba(#eeeeee, .3);

$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#222222' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");

$navbar-light-toggler-border-color: transparent;

/////// CARDS

$card-border-width:                   1px;
$card-border-radius:                  .5rem;

// Indicators
$action-color: #17425a;
$operational-indicator-color: #9fe6e6;
$tactical-indicator-color: #aee4a4;
$strategic-indicator-color: #3f6636;

$action-color-fg: #eeeeee;
$operational-indicator-color-fg: #222222;
$tactical-indicator-color-fg: #222222;
$strategic-indicator-color-fg: #eeeeee;

$causality-increases-color: darken($green, 10%);
$causality-decreases-color: darken($red, 10%);
$causality-is-part-of-color: grey;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$theme-logo: "data:image/svg+xml,%3Csvg width='336' height='87' viewBox='0 0 336 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 85.5738V2.37705H15.2589V36.0123L46.1343 2.37705H64.9695L34.2133 35.418L65.8039 85.5738H47.088L23.246 47.0656L15.2589 55.7418V85.5738H0Z' fill='%23F7F6F3'/%3E%3Cpath d='M87.4368 87C82.3505 87 78.1782 86.2076 74.9198 84.6229C71.6614 82.959 69.2374 80.7801 67.648 78.0861C66.0585 75.3921 65.2638 72.4208 65.2638 69.1721C65.2638 63.7049 67.4095 59.2678 71.7011 55.8607C75.9927 52.4535 82.43 50.75 91.0131 50.75H106.034V49.3238C106.034 45.2828 104.881 42.3115 102.577 40.4098C100.272 38.5082 97.4107 37.5574 93.9934 37.5574C90.8939 37.5574 88.1918 38.3101 85.8871 39.8156C83.5824 41.2418 82.1519 43.3811 81.5956 46.2336H66.6943C67.0917 41.9549 68.5222 38.2309 70.9859 35.0615C73.529 31.8921 76.7874 29.4754 80.7611 27.8115C84.7347 26.0683 89.1853 25.1967 94.1126 25.1967C102.537 25.1967 109.173 27.2964 114.021 31.4959C118.869 35.6954 121.292 41.638 121.292 49.3238V85.5738H108.299L106.868 76.0656C105.12 79.235 102.656 81.8497 99.4771 83.9098C96.3776 85.9699 92.3642 87 87.4368 87ZM90.8939 75.1148C95.265 75.1148 98.6426 73.6885 101.027 70.8361C103.49 67.9836 105.04 64.4576 105.676 60.2582H92.6821C88.6289 60.2582 85.7282 61.0109 83.9798 62.5164C82.2313 63.9426 81.3571 65.7254 81.3571 67.8648C81.3571 70.1626 82.2313 71.9454 83.9798 73.2131C85.7282 74.4809 88.0329 75.1148 90.8939 75.1148Z' fill='%23F7F6F3'/%3E%3Cpath d='M188.068 26.623V85.5738H174.597L173.405 75.5902C171.577 79.0765 168.915 81.8497 165.418 83.9098C162.001 85.9699 157.947 87 153.258 87C145.947 87 140.265 84.7022 136.211 80.1066C132.158 75.5109 130.132 68.776 130.132 59.9016V26.623H145.391V58.4754C145.391 63.5464 146.424 67.429 148.49 70.1229C150.556 72.8169 153.775 74.1639 158.146 74.1639C162.438 74.1639 165.934 72.6585 168.637 69.6475C171.418 66.6366 172.809 62.4372 172.809 57.0492V26.623H188.068Z' fill='%23F7F6F3'/%3E%3Cpath d='M223.282 87C218.037 87 213.428 86.168 209.454 84.5041C205.48 82.7609 202.301 80.3839 199.917 77.3729C197.533 74.362 196.102 70.8757 195.626 66.9139H211.004C211.48 69.2117 212.752 71.1926 214.818 72.8566C216.964 74.4413 219.706 75.2336 223.044 75.2336C226.382 75.2336 228.806 74.5601 230.316 73.2131C231.905 71.8661 232.7 70.321 232.7 68.5779C232.7 66.0424 231.587 64.3388 229.362 63.4672C227.137 62.5164 224.037 61.6052 220.064 60.7336C217.52 60.179 214.938 59.5055 212.315 58.7131C209.692 57.9208 207.268 56.9303 205.043 55.7418C202.897 54.474 201.149 52.8893 199.798 50.9877C198.447 49.0068 197.771 46.5902 197.771 43.7377C197.771 38.5082 199.838 34.1107 203.97 30.5451C208.182 26.9795 214.063 25.1967 221.613 25.1967C228.607 25.1967 234.17 26.821 238.303 30.0697C242.515 33.3183 245.018 37.7951 245.813 43.5H231.389C230.514 39.1421 227.216 36.9631 221.494 36.9631C218.633 36.9631 216.408 37.5178 214.818 38.6271C213.308 39.7363 212.553 41.123 212.553 42.7869C212.553 44.5301 213.706 45.9167 216.01 46.9467C218.315 47.9768 221.375 48.9276 225.19 49.7992C229.322 50.75 233.097 51.8197 236.515 53.0082C240.011 54.1175 242.793 55.821 244.859 58.1189C246.926 60.3374 247.959 63.5464 247.959 67.7459C248.038 71.3907 247.085 74.679 245.098 77.6106C243.111 80.5423 240.25 82.8402 236.515 84.5041C232.779 86.168 228.369 87 223.282 87Z' fill='%23F7F6F3'/%3E%3Cpath d='M277.093 87C272.006 87 267.834 86.2076 264.576 84.6229C261.317 82.959 258.893 80.7801 257.304 78.0861C255.714 75.3921 254.919 72.4208 254.919 69.1721C254.919 63.7049 257.065 59.2678 261.357 55.8607C265.648 52.4535 272.086 50.75 280.669 50.75H295.689V49.3238C295.689 45.2828 294.537 42.3115 292.232 40.4098C289.927 38.5082 287.066 37.5574 283.649 37.5574C280.55 37.5574 277.848 38.3101 275.543 39.8156C273.238 41.2418 271.808 43.3811 271.251 46.2336H256.35C256.747 41.9549 258.178 38.2309 260.642 35.0615C263.185 31.8921 266.443 29.4754 270.417 27.8115C274.39 26.0683 278.841 25.1967 283.768 25.1967C292.193 25.1967 298.829 27.2964 303.676 31.4959C308.524 35.6954 310.948 41.638 310.948 49.3238V85.5738H297.954L296.524 76.0656C294.775 79.235 292.312 81.8497 289.133 83.9098C286.033 85.9699 282.02 87 277.093 87ZM280.55 75.1148C284.921 75.1148 288.298 73.6885 290.682 70.8361C293.146 67.9836 294.696 64.4576 295.332 60.2582H282.338C278.285 60.2582 275.384 61.0109 273.635 62.5164C271.887 63.9426 271.013 65.7254 271.013 67.8648C271.013 70.1626 271.887 71.9454 273.635 73.2131C275.384 74.4809 277.689 75.1148 280.55 75.1148Z' fill='%23F7F6F3'/%3E%3Cpath d='M320.741 85.5738V0H336V85.5738H320.741Z' fill='%23F7F6F3'/%3E%3C/svg%3E%0A";
$theme-logo-color: $theme-logo;
$theme-logo-white: $theme-logo;
$icon-indicators: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m50 8.8984c-26.199 0-47.5 21.301-47.5 47.5 0 12.703 4.8984 24.602 13.898 33.602 0.69922 0.69922 1.6016 1 2.6016 1.1016 1 0 1.8984-0.39844 2.6016-1.1016l10.301-10.301c1.3984-1.3984 1.3984-3.6992 0-5.1016-1.3984-1.3984-3.6992-1.3984-5.1016 0l-7.6992 7.6992c-5.3008-6.3008-8.3984-14-9.1016-22.102h10.801c2 0 3.6016-1.6016 3.6016-3.6016s-1.6016-3.6016-3.6016-3.6016l-10.801 0.007812c0.80078-8.3984 4.1016-16 9.1992-22.102l7.6016 7.6016c0.69922 0.69922 1.6016 1.1016 2.6016 1.1016 0.89844 0 1.8984-0.39844 2.6016-1.1016 1.3984-1.3984 1.3984-3.6992 0-5.1016l-7.6016-7.6016c6.1016-5.1016 13.699-8.3984 22.102-9.1992v10.801c0 2 1.6016 3.6016 3.6016 3.6016s3.6016-1.6016 3.6016-3.6016l-0.007812-11c19.199 1.7031 34.602 17.102 36.301 36.402h-10.699c-2 0-3.6016 1.6016-3.6016 3.6016s1.6016 3.6016 3.6016 3.6016h10.801c-0.69922 8.1992-3.8984 15.801-9.1016 22.102l-7.6992-7.6992c-1.3984-1.3984-3.6992-1.3984-5.1016 0-1.3984 1.3984-1.3984 3.6992 0 5.1016l10.301 10.492c0.69922 0.69922 1.6016 1.1016 2.6016 1.1016s1.8984-0.39844 2.6016-1.1016c9-9 13.898-20.898 13.898-33.602-0.10156-26.199-21.402-47.5-47.602-47.5z'/%3E%3Cpath d='m73.102 38.5c1.3984-1.3984 1.3984-3.6992 0-5.1016-1.3984-1.3984-3.6992-1.3984-5.1016 0l-12.801 12.703c-1.6016-0.80078-3.3008-1.3008-5.1992-1.3008-6.3984 0-11.699 5.1992-11.699 11.602 0 6.3984 5.3008 11.699 11.699 11.699s11.699-5.1992 11.699-11.602c0-1.8984-0.5-3.6016-1.3008-5.1992zm-23.102 22.301c-2.3984 0-4.3984-2-4.3984-4.3984 0-2.3984 2-4.3984 4.3984-4.3984s4.3984 2 4.3984 4.3984c0 2.3984-2 4.3984-4.3984 4.3984z'/%3E%3C/g%3E%3C/svg%3E%0A";
$icon-actions: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m20.129 54c-4.5469 0.054688-8.6172 2.8438-10.312 7.0625-1.6992 4.2188-0.69531 9.0469 2.5469 12.238 3.2422 3.1914 8.0859 4.1211 12.277 2.3555 4.1953-1.7656 6.9141-5.8789 6.8984-10.426-0.066406-6.2461-5.1641-11.266-11.41-11.23zm0 17.531c-2.5195-0.0625-4.7617-1.625-5.6836-3.9727-0.92187-2.3477-0.35156-5.0195 1.4531-6.7812 1.8047-1.7617 4.4883-2.2734 6.8125-1.293 2.3281 0.97656 3.8398 3.2539 3.8398 5.7773-0.0625 3.4883-2.9297 6.2773-6.4219 6.2383zm-9 5.7617h2.5703v-0.003907c0.65625 0.003907 1.2852 0.26172 1.75 0.72266l4.6797 4.6016 4.6797-4.6133c0.46875-0.46094 1.0977-0.71875 1.75-0.71875h2.5703c5.2773-0.027344 9.582 4.2227 9.6211 9.5v6.2188c0 1.3789-1.1211 2.5-2.5 2.5s-2.5-1.1211-2.5-2.5v-6.2383c-0.039062-2.5195-2.1055-4.5312-4.6211-4.5h-1.5391l-4.9297 4.8516v-0.003906c-1.4062 1.3672-3.6445 1.3672-5.0508 0l-4.9297-4.8516-1.5586 0.003907c-2.5156-0.03125-4.582 1.9805-4.6211 4.5v6.2383c0 1.3789-1.1211 2.5-2.5 2.5s-2.5-1.1211-2.5-2.5v-6.2383c0.039062-5.2773 4.3438-9.5312 9.6211-9.5zm68.742-23.293c-4.5508 0.0625-8.6133 2.8477-10.309 7.0703-1.6953 4.2188-0.6875 9.0469 2.5547 12.234 3.2422 3.1875 8.0859 4.1172 12.277 2.3516 4.1914-1.7656 6.9102-5.8789 6.8945-10.426-0.066406-6.25-5.1719-11.27-11.418-11.23zm0 17.531c-2.5234-0.0625-4.7617-1.625-5.6875-3.9727-0.92188-2.3477-0.34766-5.0195 1.457-6.7812 1.8047-1.7617 4.4883-2.2734 6.8125-1.293 2.3242 0.97656 3.8359 3.2539 3.8359 5.7773-0.058593 3.4883-2.9258 6.2773-6.418 6.2383zm13.629 21.469v-6.2383c-0.039062-2.5195-2.1055-4.5312-4.6211-4.5h-1.5508l-4.9297 4.8477c-1.4062 1.3711-3.6484 1.3711-5.0586 0l-4.9297-4.8516-1.5508 0.003907c-2.5156-0.03125-4.582 1.9805-4.6211 4.5v6.2383c0 1.3789-1.1172 2.5-2.5 2.5-1.3789 0-2.5-1.1211-2.5-2.5v-6.2383c0.039063-5.2773 4.3438-9.5312 9.6211-9.5h2.5703c0.65625 0 1.2852 0.25781 1.75 0.71875l4.6797 4.6016 4.6914-4.582c0.46484-0.46094 1.0938-0.71875 1.75-0.71875h2.5703c5.2773-0.027344 9.582 4.2227 9.6172 9.5v6.2188c0 1.3789-1.1172 2.5-2.5 2.5-1.3789 0-2.5-1.1211-2.5-2.5zm-43.5-66c3.0117 0.019531 5.9062-1.1602 8.0469-3.2734 2.1406-2.1172 3.3555-4.9961 3.375-8.0078-0.18359-6.1719-5.2422-11.082-11.418-11.082-6.1758 0-11.23 4.9102-11.414 11.082 0.039062 6.2656 5.1445 11.316 11.41 11.281zm0-17.539c3.5039-0.039063 6.375 2.7656 6.4219 6.2695-0.13672 3.4453-2.9688 6.168-6.418 6.168-3.4453 0-6.2773-2.7227-6.4141-6.168 0.042968-3.5 2.9102-6.3047 6.4102-6.2695zm-9 18.289h2.5703c0.65625 0 1.2852 0.26172 1.75 0.71875l4.6797 4.6016 4.6797-4.6016c0.46484-0.45703 1.0938-0.71875 1.75-0.71875h2.5703c5.2773-0.027344 9.582 4.2227 9.6211 9.5v6.2812c0 1.3789-1.1211 2.5-2.5 2.5-1.3828 0-2.5-1.1211-2.5-2.5v-6.2812c-0.039063-2.5156-2.1055-4.5273-4.6211-4.5h-1.5391l-4.9297 4.8516c-1.4062 1.3711-3.6562 1.3711-5.0625 0l-4.9297-4.8516h-1.5391c-2.5156-0.027344-4.582 1.9844-4.6211 4.5v6.2812c0 1.3789-1.1172 2.5-2.5 2.5-1.3789 0-2.5-1.1211-2.5-2.5v-6.2812c0.039063-5.2773 4.3438-9.5273 9.6211-9.5zm19.77 31.57c-4.6875 3.25-8.75 7.3125-12 12-0.46875 0.67188-1.2305 1.0703-2.0508 1.0703h-0.10938c-0.85547-0.035156-1.6328-0.50781-2.0586-1.25-1.2422-2.1523-3.0273-3.9375-5.1797-5.1797-0.57812-0.32813-1.0039-0.875-1.1797-1.5195-0.17188-0.64062-0.082031-1.3281 0.25-1.9062 0.33203-0.57422 0.88281-0.99609 1.5234-1.1641 0.64453-0.17188 1.332-0.078125 1.9062 0.25781 1.8398 1.0547 3.4922 2.4062 4.8906 4 3.1797-3.9883 6.9258-7.4883 11.117-10.398 1.1367-0.78906 2.6953-0.50391 3.4805 0.62891 0.78906 1.1367 0.50391 2.6953-0.62891 3.4805z'/%3E%3C/svg%3E%0A";
