/**
 * _theme-variables.scss
 *
 * These are extended set of Bootstrap style variables. They are used
 * for building a themed Bootstrap base stylesheet for Reactstrap
 *
 * All these variables are also parsed as theme object for Styled
 * Components and they are referenced in most of the UI components.
 * This file has to be self-contained and can not refer to variables
 * from the other theme files.
 *
 */


// Helper colors
$thl-green: #7bc143;
$thl-green-darker: #519b2f;
$thl-light-gray: #f2f2f2;
$thl-gray: #606060;
$thl-black: #303030;
$thl-blue: #0060a6;
$thl-orange: #faa61a;

$thl-turqoise: #079e9e;
$thl-blue: #2472b2;
$thl-violet: #9171bc;
$thl-pink: #bc4ba7;
$thl-red: #d64176;
$thl-brown: #b26d09;
$thl-cyan: #29a0c1;

$black: $thl-black;
$white: #ffffff;

// Application font:
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-base: 'Source Sans Pro', sans-serif;

// Helper colors
$red:     #e05563;
$yellow:  #eca10c;
$green:   #3cd55f;
$cyan:    #52a4ca;

// Theme specific brand colors
// brand-light/brand-dark should have contrast ratio over 4.5
// brand-light/theme.dark should have contrast ratio over 4.5
// brand-dark/theme.light should have contrast ratio over 4.5
$brand-light:  $thl-green;
$brand-dark:   $thl-green-darker;
$neutral-light: #e2e1de;
$neutral-dark: #303130;

// Application color mappings:
$theme-colors: (
  "primary":    $brand-dark,
  "secondary":  $brand-light,
  "success":    $green,
  "info":       $cyan,
  "warning":    $yellow,
  "danger":     $red,
  "light":      $thl-light-gray,
  "dark":       $thl-gray,
  "black":      #222222,
  "white":      #ffffff,
);

$image-overlay: $thl-blue;

// Links
//
// Style anchor elements.

$link-color: $brand-dark;
$link-hover-color: darken($brand-dark, 7%);

// Components
//
// Define common padding and border radius sizes and more.

//$component-active-color:      $white !default;
$component-active-bg:         $brand-dark;

$nav-pills-link-active-bg: $brand-dark;

$list-group-active-bg:  $component-active-bg;
$list-group-active-border-color:  $list-group-active-bg;

$brand-nav-background:              #ffffff;

$navbar-dark-color:                 rgba($white, .5);
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);

$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$white}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
$navbar-dark-toggler-border-color:  transparent;

$navbar-light-color:                $black;
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);

$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$black}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");

$navbar-light-toggler-border-color: transparent;


// Indicators
$action-color: $thl-green-darker;
$operational-indicator-color: $thl-green;
$tactical-indicator-color: $thl-turqoise;
$strategic-indicator-color: $thl-violet;

$action-color-fg: $white;
$operational-indicator-color-fg: $black;
$tactical-indicator-color-fg: $white;
$strategic-indicator-color-fg: $white;


$causality-increases-color: green;
$causality-decreases-color: red;
$causality-is-part-of-color: grey;
