.nav-org-logo {
  background-image: url('./images/thl-logo-web.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 12em;
  height: 2em;
}

.footer-org-logo  {
  width: 12em;
  display: inline-block;
  background-image: url('./images/thl-logo-web.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: 1em solid #ffffff;
  margin: 1em auto;
}
