.icon {
  fill: currentColor;
  width: 1em !important;
  height: 1em !important;
  vertical-align: -0.1em;
  overflow: hidden;
}

h1, h2, h3 , h4, h5 {
  line-height: 1;
  color: inherit;
}

blockquote {
  margin-left: 2em;
  padding-left: 1em;
  border-left: #cccccc 3px solid;
}

.badge-pill {
  border-radius: 10rem;
}

.index-page {
  background-color: $hel-summer;
}

.hel-logo {
  @include helsinki-logo($hel-white);
}

.hero-banner-top {
  position: relative;
  padding: $spacer * 3 0;
  background-color: $hel-summer;

  .container {
    text-align: center;
  }
}

.comments-section {
  position: relative;
  min-height: 14em;
  clear: both;
  background-color: $hel-tram;
  padding: 8rem 0;
  
    &::before {
      content: " ";
      @include koro("storm", $white, 600);
      transform: rotate(180deg);
      width: 100%;
      height: $spacer * 3;
      position: absolute;
      top: -5px;
    }
  
  .footer-column {
    text-align: center;
  }
  
  a {
    color: $white;
  }
}

.bg-not_started {
  background-color: #999999;
}

.bg-on_time {
  background-color: $hel-tram;
}

.bg-late {
  background-color: $hel-summer;
}

.bg-severely_late {
  background-color: $hel-metro;
}

.bg-status {
  background-color: $hel-tram;
}
